.module {
	display: flex;
	height: 100vh;
	background-color: white;
}

.sidebar {
	width: 240px;
	border-right: 1px solid #e0e0e0;
	overflow-y: auto;
	background-color: #f5f5f5;
	padding: 1rem;
}

.main {
	flex: 1;
	display: flex;
	flex-direction: column;
}
