name: CI

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: jdx/mise-action@v3
        with:
          mise_toml: |
            [tools]
            pnpm = "latest"
      - run: pnpm install
      - run: pnpm run typecheck
      - run: pnpm run build
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: jdx/mise-action@v3
        with:
          mise_toml: |
            [tools]
            pnpm = "latest"
      - run: pnpm install
      - run: pnpm run biome
      - run: pnpm run lint:markup
